extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  nav
    a(href="/main")
      img#logo(src="/assets/img/ball.png", alt="Pokeball")
    .navlink
      a(href="/logout") Log out
  div.main 
    div.content
      div.search
        h3.collection Search For Friends
        section#searchBar
        form#bioForm(class="bioForm", name="bioForm", action="/maker", method="POST")
          label(for="name") Name: 
          input#userName(type="text", name="name", placeholder="User name")
          input(type="hidden",name="_csrf",value="#{csrfToken}")
          a#makeSearchSubmit(class="searchBioSubmit", href="#") Find
        section#searchResult
        h3.collection Custom Entry
        section#statistics
          h3.descriptor Add whatever you want to your Dex!
          a#manualAdd(class="searchBioSubmit", href="/manual") Add Custom Bio
      div.collection
        section#bios
          h3.collection Your Dex
          if !bios || bios.length == 0
              div.bio
                  h3.emptyBio Empty Dex!
          else
              each val in bios
                  div.bio
                      img(class="pikaFace", src="#{val.image}", alt="pikachu")
                      div.header
                            h3.bioFirst First: #{val.first}
                            h3.bioNumber #1
                            h3.bioLast Last: #{val.last}
                      div.con
                            h3.bioHeight Height: #{val.height} cm
                            h3.bioWeight Weight: #{val.weight} kg    
                            h3.bioAge Age: #{val.age} years
                            h3.bioGender Gender: #{val.gender}
                            h3.bioLocation Region: #{val.location}
                            form#bioDelForm( name ="bioDelForm" action = "/deleter" method="POST")
                              input#bioDelFirst(type="text", name="delFirst", value="#{val.first}")
                              input#bioDelLast(type="text", name="delLast", value="#{val.last}")
                              input#bioDelAge(type="text", name="delAge", value="#{val.age}")
                              input#bioDelID(type="text", name="delID", value="#{val._id}")
                              input(type="hidden",name="_csrf",value="#{csrfToken}")
                              a#doBioDelete(class="makeSearchSubmit", href="#") Delete
                            form#bioEditForm( name="bioEditForm" action="/edit" method="GET")
                              input#bioEditID(type="text", name="editID", value="#{val._id}")
                              input(type="hidden",name="_csrf",value="#{csrfToken}")
                              a#edit(class="makeSearchSubmit", href="/edit/#{val._id}") Edit
  section#digMessage
    img#speech(src="/assets/img/speech.png", alt="speech box")
    h3
      span#errorMessage
    img#dig(src="/assets/img/dig.gif", alt="diglett")
block scripts
        script(src="/assets/maker.js")
        
        